.container-msg{
    display: none;
}  
 
#erro{
    @extend .alert;
    @extend .alert-error;
    @extend .alert-dismissible; 
}
#info{ 
    @extend .alert;
    @extend .alert-info;
    @extend .alert-dismissible; 
}
#success{ 
    @extend .alert;
    @extend .alert-success;
    @extend .alert-dismissible; 
}
#alert{ 
    @extend .alert;
    @extend .alert-warning;
    @extend .alert-dismissible; 
}
#popup{
    display: none;
    position: fixed;
    top: 20px;
    right: 20px;
    width: 301px;
    z-index: 9999;

    min-height: 25px;
    background-color: rgba(0,0,0,0.8);
    color: #fff;
    padding: 15px;
    font-size: 11px;
    font-family: verdana;
    -webkit-border-radius: 4px !important;
    -moz-border-radius: 4px !important;
    border-radius: 4px !important;
    -webkit-box-shadow: 0px 1px 1px rgba(0,0,0,0.25);
    -moz-box-shadow: 0px 1px 1px rgba(0,0,0,0.25);
    box-shadow: 0px 1px 1px rgba(0,0,0,0.25);
    img{
        margin: 0 5px 5px 0 !important;
    }
}