Options -Indexes 
#retira o http:// da url do site
<IfModule mod_rewrite.c>
  RewriteCond %{HTTPS} !=on
  RewriteCond %{HTTP_HOST} ^www.(.+)$ [NC]
  RewriteRule ^(.*)$ http://%1/$1 [R=301,L]
</IfModule>

<IfModule mod_php5.c>
  php_value post_max_size 500M
  php_value upload_max_filesize 500M
  php_value memory_limit 1096M
</IfModule>

php_value output_buffering 4096

# pega todas as variaveis via get e passa para a variavel url
RewriteEngine On

# Definindo o idioma. Recursos como x-webkit-speech (http://migre.me/46mS9) usam o idioma padrão.
DefaultLanguage pt-BR

RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME} !-d
RewriteRule ^(.*)$ index.php?url=$1
