
/* Footer */
#f {
	color: white;
	background-color: #151B54;
	text-align: right;
}
/* Subfooter */

.subfooter h4{
	font-weight: bold;
}

.subfooter i {
	font-size: 30px;
}

.subfooter a{
	margin-left:10px;
}

.subfooter a:hover,
.subfooter a:focus {
    color: #7b7b7b;
    text-decoration: none;
    outline: 0;
}

.subfooter p{
	margin-bottom: 0px;
}
