.description-container{
    float:right;
    .description-hover{
        @extend .btn;
        @extend .btn-warning;
        width: 20px;
        display: inline;
        cursor: help;
    }
    
    .description-text {
            width: 250px;
            position: absolute;
            line-height: 20px;
            padding: 10px;
            text-align: center;
            font-size: 14px;
            
            background: #fff;
            border: 1px solid rgba(0, 0, 0, 0.2);
            
            @include border-radius(6px);
            @include box-shadow(0 5px 10px rgba(0, 0, 0, 0.2));
            :after {
                content: "";
                position: absolute;
                width: 0;
                height: 0;
                border-width: 10px;
                border-style: solid;
                border-color: #FFFFFF transparent transparent transparent;
                top: 44px;
                left: 50px;
          }
    }
}