#table{
    @extend .table;
    @extend .table-striped;
    @extend .table-bordered; 
    @extend .bootstrap-datatable !optional;
    .acoes{
        width: 120px;
    }
}

.tabela{
    width: 100%;
	overflow-y: auto;
	_overflow: auto;
	margin: 0 0 1em;
}

/*
tr:hover{
    COLOR: #003399; BACKGROUND-COLOR: #fefcd2 !important;
}

.dif tr:hover{
    COLOR: #003399; BACKGROUND-COLOR: #fefcd2 !important;
}*/