<!DOCTYPE html>
<!--[if lt IE 7]> <html class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]> <html class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]> <html class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]><!--> <html class="no-js"> <!--<![endif]-->
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
        <meta name="viewport" content="width=device-width">

        <link rel="stylesheet" href="css/bootstrap.min.css">
        <link rel="stylesheet" href="css/bootstrap-theme.min.css">
        <!--[if lt IE 9]>
        <script src="http://code.jquery.com/jquery-1.10.2.min.js"></script>
        <![endif]-->
        <script src="js/angular.min.js"></script>
        <script src="../ng-table.min.js"></script>
        <link rel="stylesheet" href="../ng-table.css">
    </head>
<body ng-app="main">
<h1>Table with multiple options</h1>

<div ng-controller="DemoCtrl">

    <button ng-click="tableParams.sorting({})" class="btn btn-default pull-right">Clear sorting</button>
    <button ng-click="tableParams.filter({})" class="btn btn-default pull-right">Clear filter</button>
    <p><strong>Sorting:</strong> {{tableParams.sorting()|json}}
    <p><strong>Filter:</strong> {{tableParams.filter()|json}}

    <hr>
    <strong>Selected users:</strong>
    <div ng-repeat='user in data | filter:{"$selected": true}'>
         {{user.name}}
    </div>

    <table ng-table="tableParams" show-filter="true" class="table ng-table-rowselected">
        <tr ng-repeat="user in $data"
        ng-click="user.$selected = !user.$selected; changeSelection(user)"
        ng-class="{'active': user.$selected}">
            
            <td ng-repeat='h in headers' data-title="'$h'" sortable="$h" filter="{ $h: 'text' }">
                {{user[h]}}
            </td>
            <!--
            <td data-title="'Age'" sortable="'age'">
                {{user.age}}
            </td>-->
        </tr>
    </table>

    <script>
        var app = angular.module('main', ['ngTable']).
                controller('DemoCtrl', function($scope, $filter, ngTableParams) {
                    $scope.headers = [];
                    var data = [{name: "Moroni", age: 50, role: 'Administrator', date: '00/00/01'},
                        {name: "Tiancum", age: 43, role: 'Administrator', date: '00/00/01'},
                        {name: "Jacob", age: 27, role: 'Administrator', date: '00/00/01'},
                        {name: "Nephi", age: 29, role: 'Moderator', date: '00/00/01'},
                        {name: "Enos", age: 34, role: 'User', date: '00/00/01'},
                        {name: "Tiancum", age: 43, role: 'User', date: '00/00/01'},
                        {name: "Jacob", age: 27, role: 'User', date: '00/00/01'},
                        {name: "Nephi", age: 29, role: 'Moderator', date: '00/00/01'},
                        {name: "Enos", age: 34, role: 'User', date: '00/00/01'},
                        {name: "Tiancum", age: 43, role: 'Moderator', date: '00/00/01'},
                        {name: "Jacob", age: 27, role: 'User', date: '00/00/01'},
                        {name: "Nephi", age: 29, role: 'User', date: '00/00/01'},
                        {name: "Enos", age: 34, role: 'Moderator', date: '00/00/01'},
                        {name: "Tiancum", age: 43, role: 'User', date: '00/00/01'},
                        {name: "Jacob", age: 27, role: 'User', date: '00/00/01'},
                        {name: "Nephi", age: 29, role: 'User', date: '00/00/01'},
                        {name: "Enos", age: 34, role: 'User', date: '00/00/01'},
                        {name: "Micah", age: 29, role: 'Moderator', date: '00/00/01'},
                        {name: "Viviane", age: 34, role: 'Moderator', date: '00/00/01'},
                        {name: "Marconi", age: 43, role: 'User', date: '00/00/01'},
                        {name: "Leonan", age: 27, role: 'Administrator', date: '00/00/02'},
                        {name: "Arnaldo", age: 29, role: 'User', date: '00/00/02'},
                        {name: "Zuleide", age: 34, role: 'Moderator', date: '00/00/02'}];
                    
                    $scope.data    = data;
                    for(var i in $scope.data){
                        for(var j in $scope.data[i]){
                            $scope.headers.push(j);
                        }
                        break;
                    }
                    console.info($scope.headers);
                    $scope.tableParams = new ngTableParams({
                        page: 1,            // show first page
                        count: 10,          // count per page
                        filter: {
                            //name: 'M'       // initial filter
                        },
                        sorting: {
                            name: 'asc'     // initial sorting
                        }
                    }, {
                        total: data.length, // length of data
                        getData: function($defer, params) {
                            // use build-in angular filter
                            var filteredData = params.filter() ?
                                    $filter('filter')(data, params.filter()) :
                                    data;
                            var orderedData = params.sorting() ?
                                    $filter('orderBy')(filteredData, params.orderBy()) :
                                    data;

                            params.total(orderedData.length); // set total for recalc pagination
                            $defer.resolve(orderedData.slice((params.page() - 1) * params.count(), params.page() * params.count()));
                        }
                    });
                    $scope.changeSelection = function(user) {
                         console.info(user);
                    };
                });
    </script>

</div>
<style>
.ng-table-rowselected tr {
    cursor: pointer;
}
</style>

    </body>
</html>