.fts{
    border: 1px solid #464A54;
    height: 60px;
    overflow: hidden;
    margin: 3px;
    padding: 5px;
}

#pag_venda_edit_form{
    .form_item{
        float: left;
        width: 45%;
        margin: 5px;
    }
    
    .form_item#f_detalhes, .form_item#f_parcelas, .form_item#f_produtos{
        width:100%;
    }

    .btn-container{
        clear: both;
        width: 100%;
    }

    .btn{
        margin: 3px;
        margin-top: 5px;
    }
}
table{ 
    .atr{
        @extend .alert;
        @extend .alert-error;
    }

    .pend{
        @extend .alert;
        @extend .alert-warning;
    }

    .pago{
        @extend .alert;
        @extend .alert-success;
    }
}