#banner, .footer{
    background: $fundo-top-footer;
    border-bottom: $borda-top-footer;
}


html, body {
    height: 100%;
}

#tudo {
    min-height: 100%;
    position: relative;
}

#conteudo{
    padding-bottom: 15px;
}

.footer{
    width: 100%;
    height: 30px;
    border-top: $borda-top-footer;
    color:#FFFAFA;
    padding: 8px 0 8px 0;
    position: absolute;
    bottom: 0;
}

.label{
    @extend .label-info;
    margin-right: 5px;
}

.label.ativo, .label.fase-operacional, .label#online{
    @extend .label-success;
}

.label#nao-confirmado{
    @extend .label-important;
}

.separator{
    border-bottom: 1px solid $separator-color;
    width: 100%;
    margin-top: 5px; 
}

.c_item{
    display: table;
}

#empresa_curso .label_title{
    display: none;
}

.widget_box{
    @extend .box;
    .widget_title{
        @extend .box-header;
    }
    
    .widget_content{
        @extend .box-content;
    }
}

.widget_system{
    @include border-radius(5px);
    @include box-shadow(4px 2px 24px rgba(0, 0, 0, 0.54));
    
    background-color: #FFF;
    margin: 0 5px 5px 0;
}

.widget{
   @extend .widget_system;
}

#tela_cadastro{
    .widget{
        overflow: auto;
    }
}

.panel-body{
    padding:10px;
}

.widget_content{
    @extend .panel-body
}



.icon-gear{
    background: url(../img/icon-gear.png);
}

.breadcrumb {
    @extend .hidden-xs !optional;
    @extend .hidden-phone !optional;
    margin-top:0 ;
}

#search_acoes{
    margin-top: 5px;
    width: 300px;
}

#form_search{
    display: -webkit-inline-box;
    margin:auto;
    margin-top: 5px;
    #search-buttom{
        top: -5px;
        position: relative;
        height: 30px;
        width: 32px;
    }
}


#top_navbar{
    margin-bottom: 5px;
}


.sub-footer{
    width:100%;
    padding: 15px 0 15px 0;
    background: #333333 !important;
    height: 150px;
    position: absolute;
    bottom: 30px;
    color: #FFFAFA;
}

.sub-footer a{
    color:#FFFAFA;   
}

.bloco{
    font-size:14px !important;
}

.text-align-right{
    text-align: right
}

.small{
    font-size:12px !important;
}

.information{
        line-height: 35px;
        font-size: 24px;
        text-align: justify;
}

a {
    color: #151B54;
    word-wrap: break-word;

    -webkit-transition: color 0.1s ease-in, background 0.1s ease-in;
    -moz-transition: color 0.1s ease-in, background 0.1s ease-in;
    -ms-transition: color 0.1s ease-in, background 0.1s ease-in;
    -o-transition: color 0.1s ease-in, background 0.1s ease-in;
    transition: color 0.1s ease-in, background 0.1s ease-in;
}

a:hover,
a:focus {
    color: #7b7b7b;
    text-decoration: none;
    outline: 0;
}

a:before,
a:after {
    -webkit-transition: color 0.1s ease-in, background 0.1s ease-in;
    -moz-transition: color 0.1s ease-in, background 0.1s ease-in;
    -ms-transition: color 0.1s ease-in, background 0.1s ease-in;
    -o-transition: color 0.1s ease-in, background 0.1s ease-in;
    transition: color 0.1s ease-in, background 0.1s ease-in;
}


#all_center{
    margin-top:10%;
    margin-bottom:10%;
    text-align: center;
}

#all_center_low{
    margin-top:5%;
    margin-bottom:5%;
    text-align: center;
}

#superior_login{
    .panel-body{
        padding:0 !important; 
    }
    position: relative;
    padding:0 !important;
    .form_item{
        width: 40%;
        float: left;
    }
    .form-group{
        margin-bottom:0px !important;
    }
}

#contextmenu{
    padding: 0;
    margin-left: 15px;
}

.fa{
    padding: 3px!important;

}

#widget_filtrowidget{
    overflow: visible;
}